/*about-me*/

.about-me__background {
    background-color: #F7E9E4;
    padding: 75px 0;
}
.about-me__background h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
}
.about-me__hr {
    width: 2rem;
    color: #000;
    display: inline-block;
}
.about-me__background h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
}
.about-me__background p {
    padding: 0 15rem;
    color: rgb(94, 94, 94);
}



