/*order*/

.order-section__background {
    padding: 90px 0;
    background-color: #F7E9E4;
}
.order-section__background h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

/*cakes price*/
.cakes-price h6 {
    font-family: 'Raleway';
    font-size: 1rem;
    display: inline-block;
    font-weight: 400;
}
.cakes-price i {
    color: rgb(156, 156, 156);
    display: inline-block;
}
.nav-link {
    font-family: 'Raleway', sans-serif;
}
.nav-linkh:hover {
    background-color: rgb(228, 228, 228);
}

.cakes-price__menu {
    font-family: 'Raleway', sans-serif;
}
.cakes-price hr {
    width: 300px;
    margin: 1rem auto;
}
.cakes-price__cards {
    font-family: 'Raleway', sans-serif;
}
.cakes-price .card-title {
    font-weight: 500;
}
.cakes-price__a {
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    font-weight: 500;
    height: 1.4rem;
}
.cakes-price__cards h5 {
    font-weight: 400;
    font-size: 1rem;
}
.cakes-price__border {
    border-left: 1px solid #DEE2E6;
    border-right: 1px solid #DEE2E6;
}
.for-mobile {
    visibility: hidden;
}