
/*Home Order*/

.home-order h3 {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.4rem;
    font-size: 1.5rem;
}
.home-order__link {
    background-color: #F7E9E4;
    height: 100%;
}
.home-order__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
}
.home-order__button {
    height: 38px;
}
.home-order__button2:hover {
    border: 2px solid #000;
}

/*about cakes */
.about-cakes__div {
    background-color: rgb(234, 239, 241);
}
.about-cakes__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

/*home about*/

/*follow section*/
.follow-section__title {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

/*Photo of cakes*/
.cakes-photo__image {
    width: 100%;
    height: 100%;
}






